@layer tailwind {
  @tailwind base;
}
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

body {
  @mixin light {
    background-color: #f0f0f0;
  }

  @mixin dark {
    background-color: #323232;
  }
}

.mantine-Carousel-control {
  &[data-inactive] {
    opacity: 0;
    cursor: default;
  }
}
